<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BondIT Global</title>
</head>
<body>
    <h1>Welcome to flights world</h1>
    <div style="float: left; width: 45%; display:flex; border-color: dodgerblue; border-radius: inherit; border-width: thin; border-style: solid; padding: 25px; margin: 5px">
        <form method="POST" action="add_flight">
            <h3>In this form, you can add a new flight to CSV file and update status of flights:</h3>
                Flight ID: <textarea id="flightID" name="flightID"></textarea> <br>
                Arrival: <textarea id="arrival" name="arrival"></textarea> <br>
                Departure: <textarea id="departure" name="departure"></textarea> <br>
                <input type="submit" value="Add flight" text-align="center"> <br>
        </form>
    </div>

    <div style="float: right; width: 45%; display:flex; border-color: lightskyblue; border-radius: inherit; border-width: thin; border-style: solid; padding: 25px; margin: 5px">
        <h3>Messages:</h3>

        <div>
            {% with messages = get_flashed_messages() %}
                 {% if messages %}
                       {% for message in messages %}
                            <p>{{ message }}</p>
                       {% endfor %}
                 {% endif %}
            {% endwith %}
        </div>
    </div>

    <div style="width: 45%; clear: left; border-color: dodgerblue; border-radius: inherit; border-width: thin; border-style: solid; padding: 25px; margin: 5px;">
        <form method="GET" action="get_flight">
            <h3>In this form, you can check flight status:</h3>
                Flight ID: <textarea id="flightID_get" name="flightID_get"></textarea> <br>
                <input type="submit" value="Get flight"> <br>
        </form>
    </div>
    <!--<form method="GET" action="get_data">
            <input type="submit" value="Get data"> <br>
    </form>-->


</body>
</html>